# HEROKU BACKUP HOSTING
Procfile
runtime

# VIRTUAL ENVS AND SENSITIVE DATA
dependencies
venv
desktop.ini
runtime.txt
bot/logs
bot/utils/marketing.py

.env
# JUNK FILES
*.json
*.log
*.pyc
*.db
*.yaml
